[submodule "Frontend"]
	path = Frontend
	url = https://github.com/2-KTB-Tiling/Frontend.git
[submodule "llm"]
	path = llm
	url = https://github.com/2-KTB-Tiling/python-ai-server.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/2-KTB-Tiling/backend-test.git
